{% extends 'homebase.html' %} {% block content %}
<br />
<br />
<div class="jumbotron" style="margin-bottom: 0px">
  <h1 class="display-4">Привет, Учитель</h1>
  <p class="lead">Добро пожаловать в систему управления онлайн-школой «Diploma».</p>
  <hr class="my-4" />
    <p>Вы можете получить доступ к различным функциям после входа в систему.</p>
  <p class="lead">
    <a class="btn btn-success" href="teachersignup" role="button"
      >Подать заявление на работу</a
    >
    <a class="btn btn-success" href="teacherlogin" role="button"
      >Войти</a
    >
  </p>
</div>
{% endblock content %}
