<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Diploma</title>
    <style media="screen">
      .jumbotron {
        margin-bottom: 0px;
      }
      .jumbotron h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% include "navbar.html" %}
    <br /><br />
    <div class="jumbotron">
      <h3 class="display-4">Ваше сообщение успешно отправлено!</h3>
      <p class="lead">Мы ответим на ваш отзыв в ближайшее время</p>
      <hr class="my-4" />
      <p>Проверьте другие возможности сайта!</p>
      <p class="lead">
        <a class="btn btn-success" href="/" role="button">Домашняя</a>
      </p>
    </div>
    {% include "footer.html" %}
  </body>
</html>
